
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All Doctors</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Doctor</h2>
            <span class="text-light">Use the below form to Update an account of a doctor</span>
        </div>

        <!-- add doctor form -->
         <!-- form handling -->
 <form method="POST" id="update_doctor">
    <div class="new_doctor">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="<%= doctor._id %>">
            <input type="text" name="name" value="<%= doctor.name %>" placeholder="Jame Smith">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="text" name="email" value="<%= doctor.email%>" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
            <label for="gender" class="text-light">Gender</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Male" <%= doctor.gender == 'Male' ? 'checked' : '' %>>
                <label for="radio-2" class="radio-label">Male</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Female"  <%= doctor.gender == 'Female' ? 'checked' : '' %> >
                <label for="radio-3" class="radio-label">Female</label>
            </div>
        </div>

        <div class="form-group">
            <label for="birthday" class="text-light">BirthDay</label>
            <input type="date" name="birthday" value="<%= doctor.birthday%>">
        </div>

        <div class="form-group">
            <label for="mobilenumber" class="text-light">Mobile Number</label>
            <input type="tel" name="mobilenumber" value="<%= doctor.mobilenumber%>">
        </div>

        <div class="form-group">
            <label for="nic" class="text-light">NIC</label>
            <input type="text" name="nic" value="<%= doctor.nic%>">
        </div>

        <div class="form-group">
            <label for="qualification" class="text-light">Qualification</label>
            <input type="text" name="qualification" value="<%= doctor.qualification%>">
        </div>

        <div class="form-group">
            <label for="specialization" class="text-light">Specialization</label>
            <input type="text" name="specialization" value="<%= doctor.specialization%>">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
