<% for(var i = 0; i < users.length; i++) {%>
    <tr>
        <td><%= i + 1 %></td>
        <td><%= users[i].name %></td>
        <td><%= users[i].email %></td>
        <td><%= users[i].gender %></td>
        <td><%= users[i].birthday %></td>
        <td><%= users[i].mobilenumber %></td>
        <td><%= users[i].nic %></td>
        <td><%= users[i].qualification %></td>
        <td><%= users[i].specialization %></td>
        <td>
            <div class="btn border-shadow update">
            <a href="/update-doctor?id=<%= users[i]._id%>">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            </div>

            <div class="btn border-shadow delete">
            <a href="/api/doctor-delete/<%= users[i]._id%>" >
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
            </div>
        </div>
        </td>
    </tr>
    <% } %>